data/clippedgrids.cpg
data/clippedgrids.dbf
data/clippedgrids.prj
data/clippedgrids.shp
data/clippedgrids.shx
data/livneh/daily/prec.1915.csv
data/livneh/daily/prec.1916.csv
data/livneh/daily/prec.1917.csv
data/livneh/daily/prec.1918.csv
data/livneh/daily/prec.1919.csv
data/livneh/daily/prec.1920.csv
data/livneh/daily/prec.1921.csv
data/livneh/daily/prec.1922.csv
data/livneh/daily/prec.1923.csv
data/livneh/daily/prec.1924.csv
data/livneh/daily/prec.1925.csv
data/livneh/daily/prec.1926.csv
data/livneh/daily/prec.1927.csv
data/livneh/daily/prec.1928.csv
data/livneh/daily/prec.1929.csv
data/livneh/daily/prec.1930.csv
data/livneh/daily/prec.1931.csv
data/livneh/daily/prec.1932.csv
data/livneh/daily/prec.1933.csv
data/livneh/daily/prec.1934.csv
data/livneh/daily/prec.1935.csv
data/livneh/daily/prec.1936.csv
data/livneh/daily/prec.1937.csv
data/livneh/daily/prec.1938.csv
data/livneh/daily/prec.1939.csv
data/livneh/daily/prec.1940.csv
data/livneh/daily/prec.1941.csv
data/livneh/daily/prec.1942.csv
data/livneh/daily/prec.1943.csv
data/livneh/daily/prec.1944.csv
data/livneh/daily/prec.1945.csv
data/livneh/daily/prec.1946.csv
data/livneh/daily/prec.1947.csv
data/livneh/daily/prec.1948.csv
data/livneh/daily/prec.1949.csv
data/livneh/daily/prec.1950.csv
data/livneh/daily/prec.1951.csv
data/livneh/daily/prec.1952.csv
data/livneh/daily/prec.1953.csv
data/livneh/daily/prec.1954.csv
data/livneh/daily/prec.1955.csv
data/livneh/daily/prec.1956.csv
data/livneh/daily/prec.1957.csv
data/livneh/daily/prec.1958.csv
data/livneh/daily/prec.1959.csv
data/livneh/daily/prec.1960.csv
data/livneh/daily/prec.1961.csv
data/livneh/daily/prec.1962.csv
data/livneh/daily/prec.1963.csv
data/livneh/daily/prec.1964.csv
data/livneh/daily/prec.1965.csv
data/livneh/daily/prec.1966.csv
data/livneh/daily/prec.1967.csv
data/livneh/daily/prec.1968.csv
data/livneh/daily/prec.1969.csv
data/livneh/daily/prec.1970.csv
data/livneh/daily/prec.1971.csv
data/livneh/daily/prec.1972.csv
data/livneh/daily/prec.1973.csv
data/livneh/daily/prec.1974.csv
data/livneh/daily/prec.1975.csv
data/livneh/daily/prec.1976.csv
data/livneh/daily/prec.1977.csv
data/livneh/daily/prec.1978.csv
data/livneh/daily/prec.1979.csv
data/livneh/daily/prec.1980.csv
data/livneh/daily/prec.1981.csv
data/livneh/daily/prec.1982.csv
data/livneh/daily/prec.1983.csv
data/livneh/daily/prec.1984.csv
data/livneh/daily/prec.1985.csv
data/livneh/daily/prec.1986.csv
data/livneh/daily/prec.1987.csv
data/livneh/daily/prec.1988.csv
data/livneh/daily/prec.1989.csv
data/livneh/daily/prec.1990.csv
data/livneh/daily/prec.1991.csv
data/livneh/daily/prec.1992.csv
data/livneh/daily/prec.1993.csv
data/livneh/daily/prec.1994.csv
data/livneh/daily/prec.1995.csv
data/livneh/daily/prec.1996.csv
data/livneh/daily/prec.1997.csv
data/livneh/daily/prec.1998.csv
data/livneh/daily/prec.1999.csv
data/livneh/daily/prec.2000.csv
data/livneh/daily/prec.2001.csv
data/livneh/daily/prec.2002.csv
data/livneh/daily/prec.2003.csv
data/livneh/daily/prec.2004.csv
data/livneh/daily/prec.2005.csv
data/livneh/daily/prec.2006.csv
data/livneh/daily/prec.2007.csv
data/livneh/daily/prec.2008.csv
data/livneh/daily/prec.2009.csv
data/livneh/daily/prec.2010.csv
data/livneh/daily/prec.2011.csv
data/livneh/daily/max/maxprec.1997.csv
data/livneh/daily/max/1day/prec.1915.csv
data/livneh/daily/max/1day/prec.1916.csv
data/livneh/daily/max/1day/prec.1917.csv
data/livneh/daily/max/1day/prec.1918.csv
data/livneh/daily/max/1day/prec.1919.csv
data/livneh/daily/max/1day/prec.1920.csv
data/livneh/daily/max/1day/prec.1921.csv
data/livneh/daily/max/1day/prec.1922.csv
data/livneh/daily/max/1day/prec.1923.csv
data/livneh/daily/max/1day/prec.1924.csv
data/livneh/daily/max/1day/prec.1925.csv
data/livneh/daily/max/1day/prec.1926.csv
data/livneh/daily/max/1day/prec.1927.csv
data/livneh/daily/max/1day/prec.1928.csv
data/livneh/daily/max/1day/prec.1929.csv
data/livneh/daily/max/1day/prec.1930.csv
data/livneh/daily/max/1day/prec.1931.csv
data/livneh/daily/max/1day/prec.1932.csv
data/livneh/daily/max/1day/prec.1933.csv
data/livneh/daily/max/1day/prec.1934.csv
data/livneh/daily/max/1day/prec.1935.csv
data/livneh/daily/max/1day/prec.1936.csv
data/livneh/daily/max/1day/prec.1937.csv
data/livneh/daily/max/1day/prec.1938.csv
data/livneh/daily/max/1day/prec.1939.csv
data/livneh/daily/max/1day/prec.1940.csv
data/livneh/daily/max/1day/prec.1941.csv
data/livneh/daily/max/1day/prec.1942.csv
data/livneh/daily/max/1day/prec.1943.csv
data/livneh/daily/max/1day/prec.1944.csv
data/livneh/daily/max/1day/prec.1945.csv
data/livneh/daily/max/1day/prec.1946.csv
data/livneh/daily/max/1day/prec.1947.csv
data/livneh/daily/max/1day/prec.1948.csv
data/livneh/daily/max/1day/prec.1949.csv
data/livneh/daily/max/1day/prec.1950.csv
data/livneh/daily/max/1day/prec.1951.csv
data/livneh/daily/max/1day/prec.1952.csv
data/livneh/daily/max/1day/prec.1953.csv
data/livneh/daily/max/1day/prec.1954.csv
data/livneh/daily/max/1day/prec.1955.csv
data/livneh/daily/max/1day/prec.1956.csv
data/livneh/daily/max/1day/prec.1957.csv
data/livneh/daily/max/1day/prec.1958.csv
data/livneh/daily/max/1day/prec.1959.csv
data/livneh/daily/max/1day/prec.1960.csv
data/livneh/daily/max/1day/prec.1961.csv
data/livneh/daily/max/1day/prec.1962.csv
data/livneh/daily/max/1day/prec.1963.csv
data/livneh/daily/max/1day/prec.1964.csv
data/livneh/daily/max/1day/prec.1965.csv
data/livneh/daily/max/1day/prec.1966.csv
data/livneh/daily/max/1day/prec.1967.csv
data/livneh/daily/max/1day/prec.1968.csv
data/livneh/daily/max/1day/prec.1969.csv
data/livneh/daily/max/1day/prec.1970.csv
data/livneh/daily/max/1day/prec.1971.csv
data/livneh/daily/max/1day/prec.1972.csv
data/livneh/daily/max/1day/prec.1973.csv
data/livneh/daily/max/1day/prec.1974.csv
data/livneh/daily/max/1day/prec.1975.csv
data/livneh/daily/max/1day/prec.1976.csv
data/livneh/daily/max/1day/prec.1977.csv
data/livneh/daily/max/1day/prec.1978.csv
data/livneh/daily/max/1day/prec.1979.csv
data/livneh/daily/max/1day/prec.1980.csv
data/livneh/daily/max/1day/prec.1981.csv
data/livneh/daily/max/1day/prec.1982.csv
data/livneh/daily/max/1day/prec.1983.csv
data/livneh/daily/max/1day/prec.1984.csv
data/livneh/daily/max/1day/prec.1985.csv
data/livneh/daily/max/1day/prec.1986.csv
data/livneh/daily/max/1day/prec.1987.csv
data/livneh/daily/max/1day/prec.1988.csv
data/livneh/daily/max/1day/prec.1989.csv
data/livneh/daily/max/1day/prec.1990.csv
data/livneh/daily/max/1day/prec.1991.csv
data/livneh/daily/max/1day/prec.1992.csv
data/livneh/daily/max/1day/prec.1993.csv
data/livneh/daily/max/1day/prec.1994.csv
data/livneh/daily/max/1day/prec.1995.csv
data/livneh/daily/max/1day/prec.1996.csv
data/livneh/daily/max/1day/prec.1997.csv
data/livneh/daily/max/1day/prec.1998.csv
data/livneh/daily/max/1day/prec.1999.csv
data/livneh/daily/max/1day/prec.2000.csv
data/livneh/daily/max/1day/prec.2001.csv
data/livneh/daily/max/1day/prec.2002.csv
data/livneh/daily/max/1day/prec.2003.csv
data/livneh/daily/max/1day/prec.2004.csv
data/livneh/daily/max/1day/prec.2005.csv
data/livneh/daily/max/1day/prec.2006.csv
data/livneh/daily/max/1day/prec.2007.csv
data/livneh/daily/max/1day/prec.2008.csv
data/livneh/daily/max/1day/prec.2009.csv
data/livneh/daily/max/1day/prec.2010.csv
data/livneh/daily/max/1day/prec.2011.csv
.vscode/settings.json
src/.vscode/settings.json
src/__pycache__/livnehtests.cpython-38.pyc
src/__pycache__/waterboundarytests.cpython-38.pyc
src/dataimports/__pycache__/livneh.cpython-38.pyc
src/dataimports/__pycache__/waterboundary.cpython-38.pyc
